.statistics {

	.statistics__box {
		display: flex;
		flex-wrap: wrap;
		row-gap: calc(var(--index) * 1.2);

		.statistics__statistic {
			width: 100%;
			display: flex;
			background: #a0a0a0a0;
			column-gap: calc(var(--index) * 1.2);
			padding: calc(var(--index) * 1.2) 0 calc(var(--index) * 1.2) calc(var(--index) * 1.2);

			.statistic__image {}

			.statistics__statistic-inside-box {
				.statistic {
					font-size: calc(var(--index) * 1.4);
				}

				.information {
					font-size: calc(var(--index) * 1.4);
				}
			}
		}
	}
}