.firstsingin__main {
	background: #724CF9;

	.firstsingin {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		// margin-top: 117px;

		.form {
			width: 550px;
			height: 634px;
			background: #fff;
			padding: 47px 63px 53px;

			.firstsingin__title {
				text-align: center;
				font-size: 36px;
				color: #724CF9;
			}

			.firstsingin__inpot {
				width: 424px;
				height: 57px;
				background: #fff;
				border: 1px solid #d3d3d3;
				padding: 0 10px 0 20px;
				font-size: 24px;
				margin: 88px 0 16px;
			}

			.firstsingin__button {
				width: 424px;
				height: 57px;
				background: #D9D9D980;
				margin-bottom: 16px;
			}

			.button {
				width: 424px;
				height: 57px;
				border: 1px solid #D9D9D980;
			}

			.singinby {
				font-size: 14px;
				line-height: 14px;
				text-align: center;
				margin: 28px 0 30px;
			}

			.bysocial {
				display: flex;
				column-gap: 15px;
				justify-content: center;
				align-items: center;
				margin-bottom: 30px;

				.social {
					width: 48px;
					height: 48px;
					border-radius: 50%;
					border: 1px solid #E8E8E8;
				}
			}

			.haveaccaunt {
				text-align: center;
			}
		}
	}
}