.header {
	padding: 30px 0;
	position: fixed;
	background: #724CF9;
	top: 0;
	left: 0;
	width: 100%;

	.nav {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo {
			display: flex;

			h2 {
				font-size: 36px;
			}
		}

		.menu {
			display: flex;
			align-items: center;
			column-gap: 30px;

			li {
				font-size: 24px;
			}
		}

		.header__button {
			padding: 15px 30px;
			background: #AA37F5;

			color: #fff;
			font-size: 24px;
		}
	}
}