.mentors {
	margin-bottom: 110px;

	.text__content {
		display: flex;
		justify-content: space-between;
		align-items: start;
		margin-bottom: 54px;

		.mentors__title {
			font-size: 64px;
			color: #AA37F5;

		}

		.mentors__text {
			font-size: 36px;
		}

	}

	.row {
		display: flex;
		flex-wrap: wrap;
		gap: 15px 20px;

		.col-6 {
			width: 635px;
			height: 400px;
			background: #a0a0a0;
		}
	}
}