.app__body {
	overflow: hidden;

	h2 {
		font-family: Title_Font, sans-serif;
	}

	p {
		font-family: Text_Font;
	}

	// .circles {
	// 	text-align: center;

	// 	.small__circle {
	// 		width: 953.36px;
	// 		height: 953.36px;
	// 		border-radius: 50%;
	// 		background: #AA37F5;
	// 	}

	// 	.bigger__small-circle {
	// 		width: 1146.46px;
	// 		height: 1146.46px;
	// 		border-radius: 50%;
	// 		background: #A13AF6;
	// 	}

	// 	.big__circle {
	// 		width: 1351.73px;
	// 		height: 1351.73px;
	// 		border-radius: 50%;
	// 		background: #973EF7;
	// 	}

	// 	.bigger__big-circle {
	// 		width: 1557px;
	// 		height: 1557px;
	// 		border-radius: 50%;
	// 		background: #8844F7;
	// 	}
	// }
}