* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
	/* --transition: 1.25s cubic-bezier(.2, .5, 0, 1); */
}

/* .content {
	will-change: transform;
} */

/* Fonts */
/* Grafie */

@font-face {
	font-family: Grafier_Black_OnStudy;
	src: url(../font/grafier/grafier-Black.otf);
}

@font-face {
	font-family: Grafier_BlackDisplay_OnStudy;
	src: url(../font/grafier/grafier-BlackDisplay.otf);
}

._logo_latin-Black {
	font-family: Grafier_Black_OnStudy, sans-serif;
	color: #fff;
}

._logo_latin-BlackDisplay {
	font-family: Grafier_BlackDisplay_OnStudy, sans-serif;
	color: #fff;
}

/* RightSans */

@font-face {
	font-family: RightSans_Medium_OnStudy;
	src: url(../font/right-sans/rightSans-Medium.otf);
}

@font-face {
	font-family: RightSans_Light_OnStudy;
	src: url(../font/right-sans/rightSans-Light.otf);
}

@font-face {
	font-family: RightSans_CompactBlack_OnStudy;
	src: url(../font/right-sans/rightSans-CompactBlack.otf);
}

@font-face {
	font-family: RightSans_WideMedium_OnStudy;
	src: url(../font/right-sans/rightSans-WideMedium.otf);
}

body {
	font-family: RightSans_Medium_OnStudy, sans-serif;
}

/* scrollbar */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #fff;
}

::-webkit-scrollbar-thumb {
	background: #724CF9;
}

/* .selection__h1::selection {
	background-color: var(--green);
	color: var(--black);
}

*::selection {
	background-color: var(--white);
	color: var(--black);
}


img::selection {
	background-color: var(--black);
} */

/* Bg color */

body {
	/* color: #fff;
	background: var(--black); */
	overflow-x: hidden;
}

/* Containers */

.container {
	width: calc(var(--index) * 55);
	margin: 0 auto;
}

.container-header {
	width: calc(var(--index) * 60);
	margin: 0 auto;
}

/*.container-projects {
	width: calc(var(--index) * 50);
	margin: 0 auto;
}

.container-project__col {
	width: calc(var(--index) * 55);
	margin: 0 auto;
}


.container-contact {
	width: calc(var(--index) * 35);
	margin: 0 auto;
}

.container-project__laptop {
	width: calc(var(--index) * 51);
	margin: 0 auto;
} */

/* Links */

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}