.header {
	padding: calc(var(--index) * 1.2) 0;
	position: fixed;
	background: #724CF9;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;

	.nav {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo {
			display: flex;
			align-items: center;
			column-gap: calc(var(--index) * .4);

			img {
				width: calc(var(--index) * 1.4);
			}

			h2 {
				font-size: calc(var(--index) * 1.3);
				font-family: Grafier_BlackDisplay_OnStudy, sans-serif;
				color: #fff;
			}
		}

		.menu {
			display: flex;
			align-items: center;
			column-gap: calc(var(--index) * 1.27);

			li {
				font-size: calc(var(--index) * .87);

				a {
					color: #fff;
				}
			}
		}

		.header__button {
			padding: calc(var(--index) * .5) calc(var(--index) * 1.3);
			background: #AA37F5;
			border-radius: calc(var(--index) * .5);

			color: #fff;
			font-size: calc(var(--index) * .87);
		}
	}
}