.about_onstudy__hero {
	padding: calc(var(--index) * 11) 0 calc(var(--index) * 1);
	text-align: center;
	background: #724CF9;
	color: #fff;
	height: 100vh;

	.hero__title {
		font-size: calc(var(--index) * 10);
		padding-bottom: calc(var(--index) * 1.2);
	}

	.hero__text {
		font-size: calc(var(--index) * 1.4);
	}
}