.login__main {
	background: #724CF9;

	.login {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		// margin-top: 117px;

		.form {
			width: 550px;
			height: 700px;
			background: #fff;
			padding: 47px 63px 53px;

			.logo {}

			.login__title {
				text-align: center;
				font-size: 36px;
				color: #724CF9;
			}

			.input__box {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				row-gap: 16px;
				margin-top: 56px;

				.login__input {
					width: 424px;
					height: 57px;
					background: #fff;
					border: 1px solid #d3d3d3;
					padding: 0 10px 0 20px;
					font-size: 24px;
				}
			}

			.forgot {
				color: #000;
				font-size: 16px;
				display: block;
				text-decoration-line: underline;
				margin: 22px 0;
			}

			.login__button {
				width: 424px;
				height: 57px;
				background: #D9D9D980;
				margin-bottom: 16px;
			}

			.button {
				width: 424px;
				height: 57px;
				border: 1px solid #D9D9D980;
			}

			.loginby {
				font-size: 14px;
				line-height: 14px;
				text-align: center;
				margin: 24px 0;
			}

			.bysocial {
				display: flex;
				column-gap: 15px;
				justify-content: center;
				align-items: center;

				.social {
					width: 48px;
					height: 48px;
					border-radius: 50%;
					border: 1px solid #E8E8E8;
				}
			}
		}
	}
}