.hero {
	padding: calc(var(--index) * 100) calc(var(--index) * 30);
	text-align: center;
	background: #724CF9;
	color: #fff;
	height: 958px;

	.hero__title {
		font-size: 300px;
		padding-bottom: 30px;
	}

	.hero__text {
		font-size: 24px;
	}
}