.founders {
	.founders__title {
		font-size: 64px;
		color: #AA37F5;
		margin-bottom: 40px;
	}

	.row {
		display: flex;
		column-gap: 30px;

		.col-4 {
			width: 479px;
			height: 400px;
			background: #F2F2F2;
		}
	}
}